{% extends 'wrapper.html' %}

{% block bodycontent %}
    <div class="wrapper">
        <div class="card">
            <h5 class="card-header"><span>Notes App</span></h5>
            <div class="card-body">
                Projekt zaliczeniowy dla przedmiotu Ochrona Danych.
                <hr/>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="/register" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Register</a>
                    <a href="/login" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}