{% extends "wrapper.html" %}

{% block headcontent %}
    <link rel="stylesheet" href="/static/styles/notes.css"/>
{% endblock %}

{% block bodycontent %}
    <div class="note-wrapper">
        <div class="card">
            <h5 class="display-3 text-center"><span>
                {% if type == "my" %}
                    Notes created by me
                {% else %}
                    Notes shared with me
                {% endif %}
            </span></h5>
        </div>
    </div>
    <div class="note-wrapper">
        <div class="card">
            <h5 class="card-header"><span>Note title</span></h5>
            <div class="card-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                            title="Note preview" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="bi bi-people-fill"></i></button>
                <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                        title="Note preview" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="bi bi-globe2"></i></button>
                <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                        title="Note preview" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="bi bi-lock-fill"></i></button>
                <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                        title="Note preview" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="bi bi-shield-lock"></i></button>
            </div>
        </div>

    </div>

{% endblock %}