{% extends "wrapper.html" %}

{% block headcontent %}
    <script src="/static/scripts/notes.js"></script>
    <link rel="stylesheet" href="/static/styles/notes.css"/>
{% endblock %}

{% block bodycontent %}
    <div class="note-wrapper">
        <div class="card">
            <h5 class="display-3 text-center"><span>
                {% if type == "my" %}
                    Notes created by me
                {% else %}
                    Notes shared with me
                {% endif %}
            </span></h5>
        </div>
    </div>
    {% if notes %}
        {% for note in notes %}
        <div class="note-wrapper">
            <div class="card">
                <h5 class="card-header"><span>{{ note[2]|striptags }}</span></h5>
                <div class="card-body">
                    {% if note[5] %}
                    <form>
                        <div class="mb-3">
                            <label for="notePassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="notePassword"
                                   placeholder="Note password" name="notePassword" required>
                        </div>
                        <div class="mb-3 d-none">
                            <input type="text" class="form-control" id="noteId"
                                   name="noteId" value="{{note[0]}}" required>
                        </div>
                        <button type="submit" class="btn btn-secondary mb-3">Show note</button>
                    </form>
                    {% else %}
                    {{ note[3]|striptags }}
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if note[4] == 'all' %}
                        <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                            title="Note details" data-bs-content="Note created by user: {{ note [1] }}. Note shared as public."><i class="bi bi-globe2"></i></button>
                    {% elif note[4] == note[1] %}
                    <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                            title="Note details" data-bs-content="Note created by user: {{ note [1] }}. Note shared as private (only visible to the owner)."><i class="bi bi-lock-fill"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-outline-secondary mx-1" data-bs-toggle="popover" data-bs-placement="bottom" style="float: right"
                            title="Note details" data-bs-content="Note created by user: {{ note [1] }}. Note shared as restricted to users: {{ note[4] }}."><i class="bi bi-people-fill"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    {% endif %}

{% endblock %}